
/* ----------------- Header -----------------s */
.mainHeader {
    background-color: #7B46E3;
    margin-top: -1.5%;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 35px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: Raleway;
    line-height:25px;
    color: #F6F6F6;
}

.name {
    font-weight: 600;
    font-size: 27px;
}

.gender {
    font-weight: 400;
    font-size: 20px;
}

.currentWork {
    font-weight: 450;
    font-size: 18px;

}

.religion {
    font-weight: 350;
    font-size: 15px;

}

/* ----------------- Contacts -----------------s */

.contact {
    background-color: #F6F6F6;
    padding: 4px;
   
    font-family: Raleway;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-self: center;
}


.education {
    padding-right: 30px;
    padding-left: 35px;
    font-family: Raleway;
}

/* ----------------- Formats -----------------s */

.titleHeader {
    font-weight: 600;
    font-size: 22px;
    color: #7B46E3;
}

.titleDescription {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
}

.subtitleDescription {
    font-weight: 420;
    font-size: 14px;
    
}

.dateDescription {
    font-weight: 350;
    font-size: 14px;
    font-style: italic;
}

.bulletedDescription {
    font-weight: 445;
    font-size: 14px;
}

.hrClassName{
    background-color: #7B46E3;
    margin-top: -0.5px;
}


.parentBlocks {
    background-color: black;
}